.container.col-md-4.center-block
  %h1.page-header Log In
  
  %form{ action: 'emailLogin', method: 'post', role: 'form' }
    %input{ type: 'hidden', name: 'key', value: @key }
    %fieldset
      .form-group
        %label{ for: 'email' } Email
        %input.form-control{ type: 'text', name: 'email', value: @email }
    
    %fieldset
      %caption VistA Credentials
      .form-group
        %label{ for: 'access' } Access Code
        %input.form-control{ type: 'password', name: 'access' }
  
    %input.btn.btn-primary{ type: 'submit', value: 'Log in' }
