%h1 Login

%form{ action: 'login', method: 'post' }
  %fieldset
    %p
      %label{ for: 'email' } Email
      %input{ type: 'text', name: 'email' }
  
  %fieldset
    %caption Vista Credentials
    %p
      %label{ for: 'site' } Site Code
      %select{ name: 'site' }
        %option{ value: '459', selected:true } 459
    %p
      %label{ for: 'access' } Access Code
      %input{ type: 'text', name: 'access' }
    %p
      %label{ for: 'access' } Verify Code
      %input{ type: 'text', name: 'verify' }

  %input{ type: 'submit', value: 'Log in' }
