.container.col-md-4.center-block
  %h1.page-header Log In
  
  %form{ action: 'login', method: 'post', role: 'form' }
    %fieldset
      .form-group
        %label{ for: 'email' } Email
        %input.form-control{ type: 'text', name: 'email' }
    
    %fieldset
      %caption VistA Credentials
      .form-group
        %label{ for: 'site' } Site Code
        %select.form-control{ name: 'site' }
          %option{ value: '459', selected:true } 459
      .form-group
        %label{ for: 'access' } Access Code
        %input.form-control{ type: 'password', name: 'access' }
      .form-group
        %label{ for: 'access' } Verify Code
        %input.form-control{ type: 'password', name: 'verify' }
  
    %input.btn.btn-primary{ type: 'submit', value: 'Log in' }
