%h1.page-header
  Welcome
  %small Enter your VistA credentials to activate your account.

.container.col-md-4.center-block
  %form{ action: 'activate', method: 'post' }
    %fieldset
      .form-group
        %label{ for: 'site' } Site Code
        %select.form-control{ name: 'site' }
          %option{ value: '459', selected:true } 459
      .form-group
        %label{ for: 'access' } Access Code
        %input.form-control{ type: 'password', name: 'access' }
      .form-group
        %label{ for: 'verify' } Verify Code
        %input.form-control{ type: 'password', name: 'verify' }
      %input{ type: 'hidden', name: 'key', value: params[:key] }
      %input{ type: 'hidden', name: 'email', value: params[:email] }
  
    %input.btn.btn-primary{ type: 'submit', value: 'Activate' }
