%h1 Users

%table#users.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
  %tbody
    - @users.each do |u|
      %tr
        %td= u.name
        %td
          %a{ href: "mailto:#{u.email}" }= u.email
        %td
          %a{ href: url_for("/users/#{u.id}") } View
        
      
