%h1 Users

%table#users
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
  %tbody
    - @users.each do |u|
      %tr
        %td= u.name
        %td= u.email
        %td
          %a{ href: url_for("/users/#{u.id}") } View
        
      
